@import "@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  padding: 0;
  /* background: #ff4181; */
  background: rgb(94, 10, 189);
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg) skew(25deg);
  /* ----------------------------- ^ extras ---------- ^ ---- */
  width: 480px;
  height: 480px;
  transition: 0.5s;
  background: #000;
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.8);
}

.board span {
  width: 480px;
  height: 60px;
  display: block;
  font-size: 0; 
  /* INSANE ^^ */
}

.board span span {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
}

.board:before {
  content: '';
  position: absolute;
  /* bottom: -20px; */
  right: 250px;
  height: 20px;
  width: 100%;
  background: linear-gradient(90deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 50%, #000 50%, #000 100%);
  background-size: 120px;
  transform: rotate(90deg) skew(45deg);
  top: 240px;
}


.board:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10.3px;
  height: 20px;
  width: 100%;
  background: linear-gradient(90deg, #000 0%, #000 50%, #fff 50%, #fff 100%);
  background-size: 120px;
  transform: rotate(0deg) skewX(-45deg);
}

img {
  position: absolute;
  width: 60px;
  height: 60px;
  display: inline-block;
}




/* // - basic screen */

.button-block{
  width: 600px;
  margin: 200px auto;
}

/* // - buttons  */
.social{
  display: inline-block;
  margin: 30px;
  cursor: pointer;
}

.social a{
  display: block;
  background: rgba(0, 0, 0, 1);
  padding: 20px;    
  position: relative;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  box-shadow: -20px 20px 10px  rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.social a::before{
  display: block;
  content:"";
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(0deg) skewY(-45deg); 
}
  
.social a::after{
  display: block;
    content:"";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    transform: rotate(0deg) skewX(-45deg); 
    background: rgba(0, 0, 0, 0.7);
    transform: rotate(45deg) scewY(-45deg);
}

.social a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px  rgba(0, 0, 0, 0.5);
}    

.social a i{
  color: rgba(256, 256, 256, 1);
  font-size: 30pt;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.70);
}

.swal2-popup {
  font-size: 1.1rem !important;
  font-family: 'Roboto', sans-serif;
}

